<web-app>
    <context-param>
         <param-name>  </param-name>
         <param-value>  </param-value>
    </context-param>
    

    <servlet>
         <servlet-name>search</servlet-name>
         <servlet-class>search</servlet-class>
    </servlet>

    <servlet-mapping>
         <servlet-name>search</servlet-name>
         <url-pattern>/search</url-pattern>
    </servlet-mapping>

</web-app>